[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/patrickshan/dircolors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/patrickshan/oh-my-zsh.git
